In [60]:
import pandas as pd 
import os
import datetime as dt
import numpy as np

In [61]:
# File to Load (Remember to Change These)
file_to_load1 = "Data/User1.csv"
file_to_load2 = "Data/User2.csv"
file_to_load3 = "Data/User3.csv"
file_to_load4 = "Data/User4.csv"
file_to_load5 = "Data/User5.csv"
file_to_load6 = "Data/User6.csv"
file_to_load7 = "Data/User7.csv"
file_to_load8 = "Data/User8.csv"
file_to_load9 = "Data/User9.csv"
file_to_load10 = "Data/User10.csv"
file_to_load11 = "Data/User11.csv"
file_to_load12 = "Data/User12.csv"
file_to_load13 = "Data/User13.csv"
file_to_load14 = "Data/User14.csv"
file_to_load15 = "Data/User15.csv"
file_to_load16 = "Data/User16.csv"
file_to_load17 = "Data/User17.csv"
file_to_load18 = "Data/User18.csv"
file_to_load19 = "Data/User19.csv"
file_to_load20 = "Data/User20.csv"
file_to_load21 = "Data/User21.csv"
file_to_load22 = "Data/User22.csv"
file_to_load23 = "Data/User23.csv"
file_to_load24 = "Data/User24.csv"
file_to_load25 = "Data/User25.csv"
file_to_load26 = "Data/User26.csv"
file_to_load27 = "Data/User27.csv"
file_to_load28 = "Data/User28.csv"
file_to_load29 = "Data/User29.csv"


# Read Purchasing File and store into Pandas data frame
user1_data = pd.read_csv(file_to_load1)
user2_data = pd.read_csv(file_to_load2)
user3_data = pd.read_csv(file_to_load3)
user4_data = pd.read_csv(file_to_load4)
user5_data = pd.read_csv(file_to_load5)
user6_data = pd.read_csv(file_to_load6)
user7_data = pd.read_csv(file_to_load7)
user8_data = pd.read_csv(file_to_load8)
user9_data = pd.read_csv(file_to_load9)
user10_data = pd.read_csv(file_to_load10)
user11_data = pd.read_csv(file_to_load11)
user12_data = pd.read_csv(file_to_load12)
user13_data = pd.read_csv(file_to_load13)
user14_data = pd.read_csv(file_to_load14)
user15_data = pd.read_csv(file_to_load15)
user16_data = pd.read_csv(file_to_load16)
user17_data = pd.read_csv(file_to_load17)
user18_data = pd.read_csv(file_to_load18)
user19_data = pd.read_csv(file_to_load19)
user20_data = pd.read_csv(file_to_load20)
user21_data = pd.read_csv(file_to_load21)
user22_data = pd.read_csv(file_to_load22)
user23_data = pd.read_csv(file_to_load23)
user24_data = pd.read_csv(file_to_load24)
user25_data = pd.read_csv(file_to_load25)
user26_data = pd.read_csv(file_to_load26)
user27_data = pd.read_csv(file_to_load27)
user28_data = pd.read_csv(file_to_load28)
user29_data = pd.read_csv(file_to_load29)

In [62]:
user1 = user1_data.assign(Group= '1')
user2 = user2_data.assign(Group= '2')
user3 = user3_data.assign(Group= '3')
user4 = user4_data.assign(Group= '4')
user5 = user5_data.assign(Group= '5')
user6 = user6_data.assign(Group= '6')
user7 = user7_data.assign(Group= '7')
user8 = user8_data.assign(Group= '8')
user9 = user9_data.assign(Group= '9')
user10 = user10_data.assign(Group= '10')
user11 = user11_data.assign(Group= '11')
user12 = user12_data.assign(Group= '12')
user13 = user13_data.assign(Group= '13')
user14 = user14_data.assign(Group= '14')
user15 = user15_data.assign(Group= '15')
user16 = user16_data.assign(Group= '16')
user17 = user17_data.assign(Group= '17')
user18 = user18_data.assign(Group= '18')
user19 = user19_data.assign(Group= '19')
user20 = user20_data.assign(Group= '20')
user21 = user21_data.assign(Group= '21')
user22 = user22_data.assign(Group= '22')
user23 = user23_data.assign(Group= '23')
user24 = user24_data.assign(Group= '24')
user25 = user25_data.assign(Group= '25')
user26 = user26_data.assign(Group= '26')
user27 = user27_data.assign(Group= '27')
user28 = user28_data.assign(Group= '28')
user29 = user29_data.assign(Group= '29')

In [63]:
combined = pd.concat([user1, user2, user3, user4, user5, user6, user7, user8, user9, user10, user11, user12, user13, user14, user15, user16, user17, user18, user19, user20, user21, user22, user23, user24, user25, user26, user27, user28, user29])

In [64]:
combined

,Game Completed Date,Team,Outcome,Task Completed,All Tasks Completed,Murdered,Imposter Kills,Game Length,Ejected,Sabotages Fixed,Time to complete all tasks,Rank Change,Region/Game Code,Group
0,12/13/2020 at 1:26:56 am EST,Crewmate,Win,3,No,Yes,-,07m 04s,No,2.0,-,++,NA / WYMSBF,1
1,12/13/2020 at 1:17:42 am EST,Crewmate,Loss,7,Yes,No,-,16m 21s,No,1.0,09m 48s,--,NA / WYMSBF,1
2,12/13/2020 at 12:57:47 am EST,Crewmate,Win,3,No,No,-,11m 33s,No,0.0,-,++,NA / WYMSBF,1
3,12/13/2020 at 12:41:55 am EST,Imposter,Win,-,-,-,2,08m 05s,No,NaN,-,+++,Europe / QIRTNF,1
4,12/13/2020 at 12:30:37 am EST,Crewmate,Loss,4,No,No,-,05m 10s,No,0.0,-,---,Europe / QIRTNF,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41,12/01/2020 at 11:07:41 am EST,Imposter,Loss,-,-,-,2,14m 10s,No,NaN,-,-,NA / SNNGZF,29
42,12/01/2020 at 10:52:25 am EST,Crewmate,Win,7,Yes,No,-,14m 11s,No,1.0,14m 10s,++,NA / SNNGZF,29
43,11/26/2020 at 11:23:14 am EST,Crewmate,Win,7,Yes,No,-,19m 45s,No,1.0,15m 16s,++,Europe / NZWLXQ,29
44,11/26/2020 at 11:00:36 am EST,Crewmate,Win,7,Yes,No,-,10m 18s,No,0.0,06m 13s,++,Europe / NZWLXQ,29
45,11/26/2020 at 10:48:50 am EST,Crewmate,Win,7,Yes,No,-,19m 37s,No,1.0,16m 02s,++,Europe / NZWLXQ,29

In [79]:
group_list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29]

In [80]:
np.random.seed(2021)
test_list = np.random.choice(group_list, 5, replace = False)
test_list

array([15, 18, 12,  5, 10])

In [81]:
train_list = []
for x in group_list:
    if x not in test_list:
        train_list.append(x)
train_list = np.array(train_list)
train_list

array([ 1,  2,  3,  4,  6,  7,  8,  9, 11, 13, 14, 16, 17, 19, 20, 21, 22,
       23, 24, 25, 26, 27, 28, 29])

In [88]:
test_group = combined.loc[combined["Group"].astype(int).isin(test_list)]

train_group = combined.loc[combined["Group"].astype(int).isin(train_list)]

In [7]:
crewmates_df = combined.loc[combined["Team"]== "Crewmate"]

In [8]:
imposters_df = combined.loc[combined["Team"]== "Imposter"]

In [13]:
date = crewmates_df["Game Completed Date"]
date

0      12/13/2020 at 1:26:56 am EST
1      12/13/2020 at 1:17:42 am EST
2     12/13/2020 at 12:57:47 am EST
4     12/13/2020 at 12:30:37 am EST
5     12/13/2020 at 12:24:20 am EST
                  ...
40    12/01/2020 at 11:55:55 am EST
42    12/01/2020 at 10:52:25 am EST
43    11/26/2020 at 11:23:14 am EST
44    11/26/2020 at 11:00:36 am EST
45    11/26/2020 at 10:48:50 am EST
Name: Game Completed Date, Length: 1761, dtype: object

In [18]:
cleaned_date = date.str.split(expand=True)

In [27]:
cleaned_date = cleaned_date.rename(columns={0:"Date", 2: "Time", 3:"Am/Pm"})

In [28]:
cleaned_date[["Date", "Time", "Am/Pm"]]

          Date      Time Am/Pm
0   12/13/2020   1:26:56    am
1   12/13/2020   1:17:42    am
2   12/13/2020  12:57:47    am
4   12/13/2020  12:30:37    am
5   12/13/2020  12:24:20    am
..         ...       ...   ...
40  12/01/2020  11:55:55    am
42  12/01/2020  10:52:25    am
43  11/26/2020  11:23:14    am
44  11/26/2020  11:00:36    am
45  11/26/2020  10:48:50    am

[1761 rows x 3 columns]

In [30]:
cleaned_date['Time'] = pd.to_datetime(cleaned_date['Time'])

In [33]:
cleaned_date['Time'] = cleaned_date.Time.dt.hour

In [39]:
AM = cleaned_date.loc[cleaned_date["Am/Pm"]=="am"]

In [40]:
PM = cleaned_date.loc[cleaned_date["Am/Pm"]=="pm"]

In [52]:
PM_Time = PM["Time"]

In [56]:
military_time = pd.concat([AM, PM])

In [57]:
military_time

          Date   1  Time Am/Pm    4
0   12/13/2020  at     1    am  EST
1   12/13/2020  at     1    am  EST
2   12/13/2020  at    12    am  EST
4   12/13/2020  at    12    am  EST
5   12/13/2020  at    12    am  EST
..         ...  ..   ...   ...  ...
35  12/01/2020  at    13    pm  EST
36  12/01/2020  at    13    pm  EST
37  12/01/2020  at    24    pm  EST
38  12/01/2020  at    24    pm  EST
39  12/01/2020  at    24    pm  EST

[1761 rows x 5 columns]