# Setting up the Notebook

## Dependencies
Loading in dependencies for the project.
- **pandas**: Used for DataFrame wrangling
- **os**: Used to define the filepath to load in data
- **datetime**: Used for date/time conversions
- **numpy**: Used for randomization and other functions

In [1]:
import pandas as pd
import os
import datetime as dt
import numpy as np

## Load in User data files
We'll have to load in data files of varying sizes for each user.

In [2]:
# File path used to load in each file
file_to_load1 = os.path.join("Data", "User1.csv")
file_to_load2 = os.path.join("Data", "User2.csv")
file_to_load3 = os.path.join("Data", "User3.csv")
file_to_load4 = os.path.join("Data", "User4.csv")
file_to_load5 = os.path.join("Data", "User5.csv")
file_to_load6 = os.path.join("Data", "User6.csv")
file_to_load7 = os.path.join("Data", "User7.csv")
file_to_load8 = os.path.join("Data", "User8.csv")
file_to_load9 = os.path.join("Data", "User9.csv")
file_to_load10 = os.path.join("Data", "User10.csv")
file_to_load11 = os.path.join("Data", "User11.csv")
file_to_load12 = os.path.join("Data", "User12.csv")
file_to_load13 = os.path.join("Data", "User13.csv")
file_to_load14 = os.path.join("Data", "User14.csv")
file_to_load15 = os.path.join("Data", "User15.csv")
file_to_load16 = os.path.join("Data", "User16.csv")
file_to_load17 = os.path.join("Data", "User17.csv")
file_to_load18 = os.path.join("Data", "User18.csv")
file_to_load19 = os.path.join("Data", "User19.csv")
file_to_load20 = os.path.join("Data", "User20.csv")
file_to_load21 = os.path.join("Data", "User21.csv")
file_to_load22 = os.path.join("Data", "User22.csv")
file_to_load23 = os.path.join("Data", "User23.csv")
file_to_load24 = os.path.join("Data", "User24.csv")
file_to_load25 = os.path.join("Data", "User25.csv")
file_to_load26 = os.path.join("Data", "User26.csv")
file_to_load27 = os.path.join("Data", "User27.csv")
file_to_load28 = os.path.join("Data", "User28.csv")
file_to_load29 = os.path.join("Data", "User29.csv")

# Read File and store into Pandas DataFrame
user1_data = pd.read_csv(file_to_load1)
user2_data = pd.read_csv(file_to_load2)
user3_data = pd.read_csv(file_to_load3)
user4_data = pd.read_csv(file_to_load4)
user5_data = pd.read_csv(file_to_load5)
user6_data = pd.read_csv(file_to_load6)
user7_data = pd.read_csv(file_to_load7)
user8_data = pd.read_csv(file_to_load8)
user9_data = pd.read_csv(file_to_load9)
user10_data = pd.read_csv(file_to_load10)
user11_data = pd.read_csv(file_to_load11)
user12_data = pd.read_csv(file_to_load12)
user13_data = pd.read_csv(file_to_load13)
user14_data = pd.read_csv(file_to_load14)
user15_data = pd.read_csv(file_to_load15)
user16_data = pd.read_csv(file_to_load16)
user17_data = pd.read_csv(file_to_load17)
user18_data = pd.read_csv(file_to_load18)
user19_data = pd.read_csv(file_to_load19)
user20_data = pd.read_csv(file_to_load20)
user21_data = pd.read_csv(file_to_load21)
user22_data = pd.read_csv(file_to_load22)
user23_data = pd.read_csv(file_to_load23)
user24_data = pd.read_csv(file_to_load24)
user25_data = pd.read_csv(file_to_load25)
user26_data = pd.read_csv(file_to_load26)
user27_data = pd.read_csv(file_to_load27)
user28_data = pd.read_csv(file_to_load28)
user29_data = pd.read_csv(file_to_load29)

Assign a user id as a column for each dataset.

In [3]:
user1 = user1_data.assign(User = '1')
user2 = user2_data.assign(User = '2')
user3 = user3_data.assign(User = '3')
user4 = user4_data.assign(User = '4')
user5 = user5_data.assign(User = '5')
user6 = user6_data.assign(User = '6')
user7 = user7_data.assign(User = '7')
user8 = user8_data.assign(User = '8')
user9 = user9_data.assign(User = '9')
user10 = user10_data.assign(User = '10')
user11 = user11_data.assign(User = '11')
user12 = user12_data.assign(User = '12')
user13 = user13_data.assign(User = '13')
user14 = user14_data.assign(User = '14')
user15 = user15_data.assign(User = '15')
user16 = user16_data.assign(User = '16')
user17 = user17_data.assign(User = '17')
user18 = user18_data.assign(User = '18')
user19 = user19_data.assign(User = '19')
user20 = user20_data.assign(User = '20')
user21 = user21_data.assign(User = '21')
user22 = user22_data.assign(User = '22')
user23 = user23_data.assign(User = '23')
user24 = user24_data.assign(User = '24')
user25 = user25_data.assign(User = '25')
user26 = user26_data.assign(User = '26')
user27 = user27_data.assign(User = '27')
user28 = user28_data.assign(User = '28')
user29 = user29_data.assign(User = '29')

## Create a DataFrame truth source
Once we have our user data loaded in, we combine it into a single DataFrame.
We must use **ignore_index = True** to avoid having duplicate indices (this can cause many data issues for other common functions).

In [4]:
combined = pd.concat([user1, user2, user3, user4, user5, user6, user7, user8, user9, user10, user11, user12, user13, user14, user15, user16, user17, user18, user19, user20, user21, user22, user23, user24, user25, user26, user27, user28, user29], ignore_index = True)
combined

,Game Completed Date,Team,Outcome,Task Completed,All Tasks Completed,Murdered,Imposter Kills,Game Length,Ejected,Sabotages Fixed,Time to complete all tasks,Rank Change,Region/Game Code,User
0,12/13/2020 at 1:26:56 am EST,Crewmate,Win,3,No,Yes,-,07m 04s,No,2.0,-,++,NA / WYMSBF,1
1,12/13/2020 at 1:17:42 am EST,Crewmate,Loss,7,Yes,No,-,16m 21s,No,1.0,09m 48s,--,NA / WYMSBF,1
2,12/13/2020 at 12:57:47 am EST,Crewmate,Win,3,No,No,-,11m 33s,No,0.0,-,++,NA / WYMSBF,1
3,12/13/2020 at 12:41:55 am EST,Imposter,Win,-,-,-,2,08m 05s,No,NaN,-,+++,Europe / QIRTNF,1
4,12/13/2020 at 12:30:37 am EST,Crewmate,Loss,4,No,No,-,05m 10s,No,0.0,-,---,Europe / QIRTNF,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2222,12/01/2020 at 11:07:41 am EST,Imposter,Loss,-,-,-,2,14m 10s,No,NaN,-,-,NA / SNNGZF,29
2223,12/01/2020 at 10:52:25 am EST,Crewmate,Win,7,Yes,No,-,14m 11s,No,1.0,14m 10s,++,NA / SNNGZF,29
2224,11/26/2020 at 11:23:14 am EST,Crewmate,Win,7,Yes,No,-,19m 45s,No,1.0,15m 16s,++,Europe / NZWLXQ,29
2225,11/26/2020 at 11:00:36 am EST,Crewmate,Win,7,Yes,No,-,10m 18s,No,0.0,06m 13s,++,Europe / NZWLXQ,29
2226,11/26/2020 at 10:48:50 am EST,Crewmate,Win,7,Yes,No,-,19m 37s,No,1.0,16m 02s,++,Europe / NZWLXQ,29

# Data Cleaning
We will look to create two primary dataframes:
1. User-Friendly: A more complete DataFrame that can be interpreted directly.
2. Machine Learning: A DataFrame with only integer arguments, specifically catered to be used for machine learning

## Time of Day Field
We will be looking to create a new categorical variable (**Time of Day**) based on the **Game Completed Date**.  
This will look to categorize games on four times of the day that might provide some advantage for successful strategies that Imposters or Crewmates might use:
- **Night**: 12:00AM - 5:59AM  –  0, 1, 2, 3, 4, 5  
- **Morning**: 6:00AM - 11:59AM  –  6, 7, 8, 9, 10, 11  
- **Afternoon**: 12:00PM – 5:59PM  –  12, 13, 14, 15, 16, 17  
- **Evening**: 6:00PM-11:59PM  –  18, 19, 20, 21, 22, 23

### Identifying the hour

Read **Game Completed Date** into a separate DataFrame to be split.  
We then redefine and select the columns of importance

In [5]:
date = combined["Game Completed Date"]
cleaned_date = date.str.split(expand=True)
cleaned_date = cleaned_date.rename(columns={0:"Date", 2: "Time", 3:"Am/Pm"})
cleaned_date = cleaned_date[["Date", "Time", "Am/Pm"]]
cleaned_date

            Date      Time Am/Pm
0     12/13/2020   1:26:56    am
1     12/13/2020   1:17:42    am
2     12/13/2020  12:57:47    am
3     12/13/2020  12:41:55    am
4     12/13/2020  12:30:37    am
...          ...       ...   ...
2222  12/01/2020  11:07:41    am
2223  12/01/2020  10:52:25    am
2224  11/26/2020  11:23:14    am
2225  11/26/2020  11:00:36    am
2226  11/26/2020  10:48:50    am

[2227 rows x 3 columns]

We will be converting the **Time** field into it's hour component.  
This is so we can convert it to it's Military Time counterpart later.

In [6]:
cleaned_date['Time'] = pd.to_datetime(cleaned_date['Time'])
cleaned_date['Time'] = cleaned_date.Time.dt.hour
cleaned_date

            Date  Time Am/Pm
0     12/13/2020     1    am
1     12/13/2020     1    am
2     12/13/2020    12    am
3     12/13/2020    12    am
4     12/13/2020    12    am
...          ...   ...   ...
2222  12/01/2020    11    am
2223  12/01/2020    10    am
2224  11/26/2020    11    am
2225  11/26/2020    11    am
2226  11/26/2020    10    am

[2227 rows x 3 columns]

### Convert hour to military time

There are 4 groups that we need to define in order to apply the appropriate manipulations.  
**AM Groups**  
12AM - Subtract 12 to convert to 0  
1PM-11PM - Leave as is  
**PM Groups**  
12PM - Leave as is  
1PM-11PM - Add 12 to convert to 13-23

Define the four groups as lists.

In [7]:
am_no_change = np.arange(1, 12, 1).tolist()
am_change = [12]
pm_no_change = [12]
pm_change = np.arange(1, 12, 1).tolist()

Separate the data into separate DataFrames using 4 lists above and it's **Am/Pm** argument.

In [8]:
am_no_change_df = cleaned_date.loc[(cleaned_date["Am/Pm"]=="am") & (cleaned_date["Time"].astype(int).isin(am_no_change))]
am_change_df = cleaned_date.loc[(cleaned_date["Am/Pm"]=="am") & (cleaned_date["Time"].astype(int).isin(am_change))]
pm_no_change_df = cleaned_date.loc[(cleaned_date["Am/Pm"]=="pm") & (cleaned_date["Time"].astype(int).isin(pm_no_change))]
pm_change_df = cleaned_date.loc[(cleaned_date["Am/Pm"]=="pm") & (cleaned_date["Time"].astype(int).isin(pm_change))]

Perform the necessary changes to get the military time for the two *change* groups.

In [9]:
am_change_df["Time"] = am_change_df["Time"] - 12
pm_change_df["Time"] = pm_change_df["Time"] + 12

<ipython-input-9-130aef0f2755>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  am_change_df["Time"] = am_change_df["Time"] - 12
<ipython-input-9-130aef0f2755>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pm_change_df["Time"] = pm_change_df["Time"] + 12

Rejoin the 4 DataFrame groups and reset the index so it reverts to it's original order.

In [10]:
military_time_df = pd.concat([am_no_change_df, am_change_df, pm_no_change_df, pm_change_df])
military_time_df.sort_index(inplace = True)
military_time_df

            Date  Time Am/Pm
0     12/13/2020     1    am
1     12/13/2020     1    am
2     12/13/2020     0    am
3     12/13/2020     0    am
4     12/13/2020     0    am
...          ...   ...   ...
2222  12/01/2020    11    am
2223  12/01/2020    10    am
2224  11/26/2020    11    am
2225  11/26/2020    11    am
2226  11/26/2020    10    am

[2227 rows x 3 columns]

### Time of Day Binning
Now that we have military time, we can easily bin these into the 4 **Time of Day** arguments.

Create the bin and create the name list for the four bins.

In [11]:
bins = [0,6,12,18,24]

day_groups = ["Night", "Morning", "Afternoon", "Evening"]

Use *cut* create a new **Time of Day** column.

In [12]:
military_time_df["Time of Day"] = pd.cut(military_time_df["Time"], bins, labels = day_groups, include_lowest = True)
military_time_df

            Date  Time Am/Pm Time of Day
0     12/13/2020     1    am       Night
1     12/13/2020     1    am       Night
2     12/13/2020     0    am       Night
3     12/13/2020     0    am       Night
4     12/13/2020     0    am       Night
...          ...   ...   ...         ...
2222  12/01/2020    11    am     Morning
2223  12/01/2020    10    am     Morning
2224  11/26/2020    11    am     Morning
2225  11/26/2020    11    am     Morning
2226  11/26/2020    10    am     Morning

[2227 rows x 4 columns]

## Convert ##m ##s to Seconds
For both **Game Length** and **Time to complete all tasks**, we need to convert this format into total seconds for analysis.

## Clean the data

Split the **Game Length** and **Time to complete all tasks** fields into separate columns in new DataFrames.

In [13]:
cleaned_game_length = combined["Game Length"].str.split(expand=True)
cleaned_game_length = cleaned_game_length.rename(columns={0:"Minutes", 1: "Seconds"})

cleaned_task_length = combined["Time to complete all tasks"].str.split(expand=True)
cleaned_task_length = cleaned_task_length.rename(columns={0:"Minutes", 1: "Seconds"})

Remove all non-integer fields from each of the columns.

In [14]:
cleaned_game_length['Minutes'] = cleaned_game_length['Minutes'].str.replace('m','').astype(int)

cleaned_game_length['Seconds'] = cleaned_game_length['Seconds'].str.replace('s','').astype(int)

cleaned_task_length['Minutes'] = cleaned_task_length['Minutes'].str.replace('-','0')
cleaned_task_length['Minutes'] = cleaned_task_length['Minutes'].str.replace('m','').astype(int)

i = 0
while i < len(cleaned_task_length['Seconds']):
    cleaned_task_length['Seconds'][i] = str('0' if cleaned_task_length['Seconds'][i] is None else cleaned_task_length['Seconds'][i])
    i += 1
cleaned_task_length['Seconds'] = cleaned_task_length['Seconds'].str.replace('s','').astype(int)

<ipython-input-14-57f56c581104>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  cleaned_task_length['Seconds'][i] = str('0' if cleaned_task_length['Seconds'][i] is None else cleaned_task_length['Seconds'][i])

### Define the total number of seconds
Multiply **Minutes** by 60 and add to **Seconds** to convert **Seconds** into the total seconds.

In [15]:
cleaned_game_length['Seconds'] = cleaned_game_length['Seconds'] + (cleaned_game_length['Minutes'] * 60)
cleaned_task_length['Seconds'] = cleaned_task_length['Seconds'] + (cleaned_task_length['Minutes'] * 60)

Pass back into the **combined** DataFrame to finalize the used-friendly DataFrame

In [16]:
combined["Time_of_Day"] = military_time_df["Time of Day"]
combined

,Game Completed Date,Team,Outcome,Task Completed,All Tasks Completed,Murdered,Imposter Kills,Game Length,Ejected,Sabotages Fixed,Time to complete all tasks,Rank Change,Region/Game Code,User,Time_of_Day
0,12/13/2020 at 1:26:56 am EST,Crewmate,Win,3,No,Yes,-,07m 04s,No,2.0,-,++,NA / WYMSBF,1,Night
1,12/13/2020 at 1:17:42 am EST,Crewmate,Loss,7,Yes,No,-,16m 21s,No,1.0,09m 48s,--,NA / WYMSBF,1,Night
2,12/13/2020 at 12:57:47 am EST,Crewmate,Win,3,No,No,-,11m 33s,No,0.0,-,++,NA / WYMSBF,1,Night
3,12/13/2020 at 12:41:55 am EST,Imposter,Win,-,-,-,2,08m 05s,No,NaN,-,+++,Europe / QIRTNF,1,Night
4,12/13/2020 at 12:30:37 am EST,Crewmate,Loss,4,No,No,-,05m 10s,No,0.0,-,---,Europe / QIRTNF,1,Night
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2222,12/01/2020 at 11:07:41 am EST,Imposter,Loss,-,-,-,2,14m 10s,No,NaN,-,-,NA / SNNGZF,29,Morning
2223,12/01/2020 at 10:52:25 am EST,Crewmate,Win,7,Yes,No,-,14m 11s,No,1.0,14m 10s,++,NA / SNNGZF,29,Morning
2224,11/26/2020 at 11:23:14 am EST,Crewmate,Win,7,Yes,No,-,19m 45s,No,1.0,15m 16s,++,Europe / NZWLXQ,29,Morning
2225,11/26/2020 at 11:00:36 am EST,Crewmate,Win,7,Yes,No,-,10m 18s,No,0.0,06m 13s,++,Europe / NZWLXQ,29,Morning
2226,11/26/2020 at 10:48:50 am EST,Crewmate,Win,7,Yes,No,-,19m 37s,No,1.0,16m 02s,++,Europe / NZWLXQ,29,Morning

### Create Crewmate and Imposter DataFrames
For analytics and visualizations purposes, we split our data between **Team** lines.  
Additionally, we identify and drop columns that are wholly inapplicable to that team.

In [17]:
crewmate_df = combined.loc[combined["Team"] == "Crewmate"].reset_index(drop=True)
crewmate_df.drop(columns = ["Imposter Kills"], inplace = True)

imposter_df = combined.loc[combined["Team"] == "Imposter"].reset_index(drop=True).reset_index(drop=True)
imposter_df.drop(columns = ["Task Completed", "All Tasks Completed", "Sabotages Fixed", "Time to complete all tasks", "Murdered", "Time to complete all tasks"], inplace = True)

## Binary Breakdown
For machine learning, we'll have to rewrite categorical fields into binary fields.

### Convert Time of Day
Take the newly created **Time of Day** field and split it into 4 binary columns.

In [18]:
time_binary = pd.get_dummies(military_time_df, columns = ["Time of Day"])
time_binary

,Date,Time,Am/Pm,Time of Day_Night,Time of Day_Morning,Time of Day_Afternoon,Time of Day_Evening
0,12/13/2020,1,am,1,0,0,0
1,12/13/2020,1,am,1,0,0,0
2,12/13/2020,0,am,1,0,0,0
3,12/13/2020,0,am,1,0,0,0
4,12/13/2020,0,am,1,0,0,0
...,...,...,...,...,...,...,...
2222,12/01/2020,11,am,0,1,0,0
2223,12/01/2020,10,am,0,1,0,0
2224,11/26/2020,11,am,0,1,0,0
2225,11/26/2020,11,am,0,1,0,0
2226,11/26/2020,10,am,0,1,0,0

### Convert combined fields
Convert the **Team**, **Outcome**, **All Tasks Completed**, **Murdered**, and **Ejected** fields in **combined** into binary columns.

In [19]:
combined_binary = pd.get_dummies(combined, columns = ["Team", "Outcome", "All Tasks Completed", "Murdered", "Ejected"])
combined_binary

,Game Completed Date,Task Completed,Imposter Kills,Game Length,Sabotages Fixed,Time to complete all tasks,Rank Change,Region/Game Code,User,Time_of_Day,...,Outcome_Loss,Outcome_Win,All Tasks Completed_-,All Tasks Completed_No,All Tasks Completed_Yes,Murdered_-,Murdered_No,Murdered_Yes,Ejected_No,Ejected_Yes
0,12/13/2020 at 1:26:56 am EST,3,-,07m 04s,2.0,-,++,NA / WYMSBF,1,Night,...,0,1,0,1,0,0,0,1,1,0
1,12/13/2020 at 1:17:42 am EST,7,-,16m 21s,1.0,09m 48s,--,NA / WYMSBF,1,Night,...,1,0,0,0,1,0,1,0,1,0
2,12/13/2020 at 12:57:47 am EST,3,-,11m 33s,0.0,-,++,NA / WYMSBF,1,Night,...,0,1,0,1,0,0,1,0,1,0
3,12/13/2020 at 12:41:55 am EST,-,2,08m 05s,NaN,-,+++,Europe / QIRTNF,1,Night,...,0,1,1,0,0,1,0,0,1,0
4,12/13/2020 at 12:30:37 am EST,4,-,05m 10s,0.0,-,---,Europe / QIRTNF,1,Night,...,1,0,0,1,0,0,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2222,12/01/2020 at 11:07:41 am EST,-,2,14m 10s,NaN,-,-,NA / SNNGZF,29,Morning,...,1,0,1,0,0,1,0,0,1,0
2223,12/01/2020 at 10:52:25 am EST,7,-,14m 11s,1.0,14m 10s,++,NA / SNNGZF,29,Morning,...,0,1,0,0,1,0,1,0,1,0
2224,11/26/2020 at 11:23:14 am EST,7,-,19m 45s,1.0,15m 16s,++,Europe / NZWLXQ,29,Morning,...,0,1,0,0,1,0,1,0,1,0
2225,11/26/2020 at 11:00:36 am EST,7,-,10m 18s,0.0,06m 13s,++,Europe / NZWLXQ,29,Morning,...,0,1,0,0,1,0,1,0,1,0
2226,11/26/2020 at 10:48:50 am EST,7,-,19m 37s,1.0,16m 02s,++,Europe / NZWLXQ,29,Morning,...,0,1,0,0,1,0,1,0,1,0

Since we've just created many new columns, use *columns* to retrieve the exact field names.

In [20]:
combined_binary.columns

Index(['Game Completed Date', 'Task Completed', 'Imposter Kills',
       'Game Length', 'Sabotages Fixed', 'Time to complete all tasks',
       'Rank Change', 'Region/Game Code', 'User', 'Time_of_Day',
       'Team_Crewmate', 'Team_Imposter', 'Outcome_Loss', 'Outcome_Win',
       'All Tasks Completed_-', 'All Tasks Completed_No',
       'All Tasks Completed_Yes', 'Murdered_-', 'Murdered_No', 'Murdered_Yes',
       'Ejected_No', 'Ejected_Yes'],
      dtype='object')

## Binary Buildup
Now that we've created a binary breakdown for our categorical fields and converted ##m ##s to seconds, we'll construct a DataFrame with already appropriate fields from **combined**.  
While there exists non-integer values in some of the fields, these values exist along **Team** lines and will not be used for that team's analysis.

This finalizes the Machine Learning DataFrame.

In [21]:
ml_df = pd.DataFrame({
    'User' : combined["User"],
    'Team' : combined_binary["Team_Crewmate"],
    'Outcome' : combined_binary["Outcome_Win"],
    'Game Length' : cleaned_game_length['Seconds'],
    'Task Completed' : combined["Task Completed"],
    'All Tasks Completed' : combined_binary["All Tasks Completed_Yes"],
    'Time to complete all tasks' : cleaned_task_length['Seconds'],
    'Imposter Kills' : combined["Imposter Kills"],
    'Sabotages Fixed' : combined["Sabotages Fixed"],
    'Murdered' : combined_binary["Murdered_Yes"],
    'Ejected' : combined_binary["Ejected_Yes"],
    'Night' : time_binary["Time of Day_Night"],
    'Morning' : time_binary["Time of Day_Morning"],
    'Afternoon' : time_binary["Time of Day_Afternoon"],
    'Evening' : time_binary["Time of Day_Evening"]
})
ml_df.head(20)

,User,Team,Outcome,Game Length,Task Completed,All Tasks Completed,Time to complete all tasks,Imposter Kills,Sabotages Fixed,Murdered,Ejected,Night,Morning,Afternoon,Evening
0,1,1,1,424,3,0,0,-,2.0,1,0,1,0,0,0
1,1,1,0,981,7,1,588,-,1.0,0,0,1,0,0,0
2,1,1,1,693,3,0,0,-,0.0,0,0,1,0,0,0
3,1,0,1,485,-,0,0,2,NaN,0,0,1,0,0,0
4,1,1,0,310,4,0,0,-,0.0,0,0,1,0,0,0
5,1,1,0,982,7,1,736,-,0.0,1,0,1,0,0,0
6,1,1,0,1301,8,1,1118,-,1.0,1,0,1,0,0,0
7,1,1,1,1123,8,1,468,-,0.0,0,1,0,0,1,0
8,1,1,1,795,7,1,795,-,0.0,1,0,0,0,1,0
9,1,1,0,763,7,1,763,-,0.0,1,0,0,0,1,0
10,1,1,1,660,4,0,0,-,0.0,1,0,0,0,1,0
11,1,1,1,1063,7,1,719,-,0.0,0,0,0,0,1,0
12,1,1,0,826,6,0,0,-,0.0,1,0,0,0,1,0
13,1,0,0,952,-,0,0,3,NaN,0,1,0,0,1,0
14,1,1,1,1134,7,1,669,-,1.0,1,0,0,0,1,0
15,1,1,0,480,7,1,101,-,0.0,1,0,1,0,0,0
16,1,1,1,1086,7,1,574,-,0.0,1,0,1,0,0,0
17,1,1,1,778,7,1,543,-,1.0,1,0,1,0,0,0
18,1,1,1,897,7,1,890,-,0.0,1,0,1,0,0,0
19,1,1,0,663,7,1,634,-,0.0,1,0,1,0,0,0

In [22]:
ml_crewmate_df = ml_df.loc[ml_df["Team"] == 1].reset_index(drop=True)
ml_crewmate_df.drop(columns = ["Imposter Kills"], inplace = True)

ml_imposter_df = ml_df.loc[ml_df["Team"] == 0].reset_index(drop=True)
ml_imposter_df.drop(columns = ["Task Completed", "All Tasks Completed", "Sabotages Fixed", "Time to complete all tasks", "Murdered"], inplace = True)

In [23]:
file_path1 = os.path.join("Output Data", "combined.csv")
file_path2 = os.path.join("Output Data", "combined.html")
file_path3 = os.path.join("Output Data", "crewmate_df.csv")
file_path4 = os.path.join("Output Data", "crewmate_df.html")
file_path5 = os.path.join("Output Data", "imposter_df.csv")
file_path6 = os.path.join("Output Data", "imposter_df.html")

file_path7 = os.path.join("Output Data", "ml_df.csv")
file_path8 = os.path.join("Output Data", "ml_df.html")
file_path9 = os.path.join("Output Data", "ml_crewmate_df.csv")
file_path10 = os.path.join("Output Data", "ml_crewmate_df.html")
file_path11 = os.path.join("Output Data", "ml_imposter_df.csv")
file_path12 = os.path.join("Output Data", "ml_imposter_df.html")

In [24]:
combined.to_csv(file_path1, index=False)
combined.to_html(file_path2, index=False)
crewmate_df.to_csv(file_path3, index=False)
crewmate_df.to_html(file_path4, index=False)
imposter_df.to_csv(file_path5, index=False)
imposter_df.to_html(file_path6, index=False)

ml_df.to_csv(file_path7, index=False)
ml_df.to_html(file_path8, index=False)
ml_crewmate_df.to_csv(file_path9, index=False)
ml_crewmate_df.to_html(file_path10, index=False)
ml_imposter_df.to_csv(file_path11, index=False)
ml_imposter_df.to_html(file_path12, index=False)